<aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              
   <ul class="sidebar-menu" id="nav-accordion">
              
              
              
                  <li>
                      <a class="active" href="/index">
                          <i class="icon-dashboard"></i>
                          <span>仪表盘</span>
                      </a>
                  </li>




                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-laptop"></i>
                          <span>版面</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="boxed_page.html">盒装页面</a></li>
                          <li><a  href="horizontal_menu.html">水平菜单</a></li>
                          <li><a  href="language_switch_bar.html">语言切换</a></li>
                      </ul>
                  </li>
                  
                  
                  
                  
                  
                  
          
                   <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-cogs"></i>
                          <span>系统配置</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{:url('admin/Site/site')}">网站设置</a></li>
                          <li><a  href="{:url('admin/Email/email')}">邮件配置</a></li>
                          <li><a  href="{:url('admin/Chit/chit')}">短信设置</a></li>
                          <li><a  href="{:url('admin/Setpay/setpay')}">支付设置</a></li>
                          <li><a  href="{:url('admin/Payroad/payroad')}">支付通道设置</a></li>
                      </ul>
                   </li>
                   
                   
                   
                   
                   
                   
                   
                        
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-cogs"></i>
                          <span>个人</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{:url('admin/Person/person')}">基本信息</a></li>
                          <li><a  href="{:url('admin/Setadmin/setadmin')}">修改密码</a></li>
                          <li><a  href="gallery.html">登录记录</a></li>
                          <li><a  href="todo_list.html">锁屏密码</a></li>
                      </ul>
                   </li>
                   
                   
                   
                   
          
                   
                     <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-book"></i>
                          <span>题库配置</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{:url('admin/Question/question')}">题库信息</a></li>
                          <li><a  href="buttons.html">api设置</a></li>
                          <li><a  href="widget.html">秘钥管理</a></li>
                          <li><a  href="slider.html">添加题目</a></li>
                          <li><a  href="nestable.html">调用统计</a></li>
                          <li><a  href="font_awesome.html">共享设置</a></li>
                      </ul>
                      </li>
                      
                      
                      
                      
                      
                      
                      
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-tasks"></i>
                          <span>用户</span>
                      </a>
                      <ul class="sub">
                             <li><a  href="form_validation.html">用户统计</a></li>
                          <li><a  href="advanced_form_components.html">用户列表</a></li>
                          <li><a  href="form_wizard.html">会员列表</a></li>
                       
                          <li><a  href="dropzone.html">用户设置</a></li>
 
                      </ul>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-th"></i>
                          <span>数据库</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{:url('admin/Question/question')}">数据库信息</a></li>
                          <li><a  href="{:url('admin/Datatable/datatable')}">数据库表</a></li>
                          <li><a  href="dynamic_table.html">数据库配置</a></li>
                          <li><a  href="advanced_table.html">联合数据库</a></li>
                          <li><a  href="editable_table.html">数据库检测</a></li>
                      </ul>
                  </li>
                  
                  
                  
                  
                  
                  
                  <li>
                      <a  href="{:url('admin/Youjian/youjian')}">
                          <i class="icon-envelope"></i>
                          <span>邮件</span>
                          <span class="label label-danger pull-right mail-info">2</span>
                      </a>
                  </li>
                  
                  
                  
                  
                  
                  
                  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" icon-bar-chart"></i>
                          <span>调用设置</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="morris.html">调用统计</a></li>
                          <li><a  href="{:url('admin/Wechat/wechat_set')}">微信公众号</a></li>
                          <li><a  href="flot_chart.html">网页调用设置</a></li>
                          <li><a  href="xchart.html">调用加密设置</a></li>
                          <li><a  href="xchart.html">机器人设置</a></li>
                      </ul>
                  </li>
                  
                  
                  
                       
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-cogs"></i>
                          <span>工具箱</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="grids.html">格网</a></li>
                          <li><a  href="calendar.html">日历</a></li>
                          <li><a  href="gallery.html">画廊</a></li>
                          <li><a  href="todo_list.html">待办事项清单</a></li>
                      </ul>
                   </li>
                   
                   
                   
                  
                  
                  
                  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-shopping-cart"></i>
                          <span>第三方工具</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="http://pay.xskj.store">小松云支付</a></li>
                          <li><a  href="">在线工具箱</a></li>
                          <li><a  href="">谷歌地图</a></li>
                      </ul>
                  </li>
                  
                  
                  
                  
                  <li>
                      <a  href="{:url('admin/Lock/lock')}">
                          <i class="icon-envelope"></i>
                          <span>锁屏</span>
                          <span class="label label-danger pull-right mail-info">2</span>
                      </a>
                  </li>
                  
                  
        
                  
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="icon-glass"></i>
                          <span>错误页设置</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{:url('admin/C404/c404')}">404 错误</a></li>
                          <li><a  href="{:url('admin/C500/c500')}">500 错误</a></li>
                      </ul>
                  </li>
                  
   
   </ul> 
              <!-- sidebar menu end-->
          </div>
</aside>