<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" href="favicon.ico" />
    <title>app1</title>
    <link href="css/chunk-4ee2b6ac.2dbb11d3.css" rel="prefetch" />
    <link href="css/chunk-588d21d4.10c2757a.css" rel="prefetch" />
    <link href="css/chunk-97958a5c.5aac2183.css" rel="prefetch" />
    <link href="js/chunk-4ee2b6ac.70af8118.js" rel="prefetch" />
    <link href="js/chunk-588d21d4.3542b62d.js" rel="prefetch" />
    <link href="js/chunk-97958a5c.3b2d6a46.js" rel="prefetch" />
    <link href="css/app.5aa5d33a.css" rel="preload" as="style" />
    <link href="css/chunk-vendors.0f0bc34a.css" rel="preload" as="style" />
    <link href="js/app.90bec35c.js" rel="preload" as="script" />
    <link href="js/chunk-vendors.ab7471c4.js" rel="preload" as="script" />
    <link href="css/chunk-vendors.0f0bc34a.css" rel="stylesheet" />
    <link href="css/app.5aa5d33a.css" rel="stylesheet" />
</head>

<body>
    <noscript><strong
        >We're sorry but app1 doesn't work properly without JavaScript enabled.
        Please enable it to continue.</strong
      ></noscript
    >
    <div id="app"></div>
    <script src="js/chunk-vendors.ab7471c4.js"></script>
    <script src="js/app.90bec35c.js"></script>
  </body>
</html>